<style>
    nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 90%;
    margin: 0px;
    }

    nav > * {
        font-size: 1.2em;
        font-weight: bold;
    }

    nav > .more {
        font-size: 1.4em;
        margin-left: auto;
    }
</style>

<nav>
    <p class="logo">LOGO</p>
    <div class="more">O</div>
</nav>