.hello {
    position: absolute;
    font-size: 2em;
}

.sidebar {
    position: absolute;
    left: 0;

    padding-left: 3em;
    font-size: .8em;
}

.sidebar>:first-child {
    font-size: 1.2rem;
}