<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/home.css">

    <title>Home</title>
</head>
<body>

    <%- include('./partials/nav.ejs') %>

    <div style="width: 100%;height: 5em; background-color: var(--background);"></div>

    <%- include('./partials/profile.ejs') %>

    <%- include('./partials/gameBar.ejs') %>

    <%- include('./debug/crud.ejs') %>
</body>
</html>