<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="home.css">

    <title>Home</title>
</head>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="sidebar">
        <p>Session variables</p>
        <p class="vars">var1: con1</p>
        <p class="vars">var2: con2</p>
        <p class="vars">var3: con3</p>
    </div>

    <p class="hello">Hello World!</p>
</body>
</html>